@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';
@import './base.css';

@theme {
  --color-primary: #ffaf29; /* orange */
  --color-charcoal: #0f0f0f; /* main black */
  --color-slate: #1a1a1a; /* main gray */
  --color-gray: #484848; /* text gray */
  --color-silver: #b3b3b3; /* alt gray, text gray */
  --color-ui: #252733; /*ui elements text */
}
:root {
  --my-blur: 2px;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  width: 100vw;

  background-color: var(--color-charcoal);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.mobile-menu {
  max-width: 1280px;
}
